# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
ENV/
.env/

# Unit test / coverage reports
.coverage
htmlcov/
.pytest_cache/

# Type checker caches
.mypy_cache/
.pyre/

# IDE settings
.vscode/
.idea/
